{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    {% tailwind_css %}
  </head>
  <body>
    <!-- Header Section -->
    <!-- <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header> -->

    <!-- Main Content Section -->
    <div class="min-h-screen">
      <nav class="flex items-center justify-between flex-wrap bg-stone-700 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"
            />
          </svg>
          <span class="font-semibold text-xl tracking-tight">NS Books</span>
        </div>
        <div class="block lg:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="text-sm lg:flex-grow">
            <!-- <a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                  Books
                </a> -->
          </div>
          <div>
            <a
              href="{% url 'login' %}"
              class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-green-700 hover:bg-white mt-4 lg:mt-0"
              >Login</a
            >
            <a
              href="{% url 'register' %}"
              class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-green-700 hover:bg-white mt-4 lg:mt-0"
              >Register</a
            >
          </div>
        </div>
      </nav>

      <div class="flex flex-wrap max-h-[60vh] overflow-hidden">
        <div class="w-full sm:w-8/12 mb-10">
          <div class="container mx-auto h-full sm:p-10">
            <nav class="flex px-4 justify-between">
              <div class="text-4xl font-bold">
                NS Book<span class="text-green-700">.</span>
              </div>
              <div>
                <img src="https://image.flaticon.com/icons/svg/497/497348.svg" alt="" class="w-8">
              </div>
            </nav>
            <header class="container px-4 lg:flex mt-10 h-full lg:mt-0">
              <div class="w-full">
                <h1 class="text-4xl lg:text-6xl font-bold pt-8">Discover the perfect <span class="text-green-700">book</span> to fit your space</h1>
                <div class="w-20 h-2 bg-green-700 my-4"></div>
                <p class="text-xl mb-10">Every great book has a story that resonates, and this one is no different. Whether you're in the mood for an unforgettable adventure, an emotional journey, or a mind-bending mystery, we’ve got something that will keep you turning pages long into the night.</p>
                <button class="bg-green-500 text-white text-2xl font-medium px-4 py-2 rounded shadow">Learn More</button>
              </div>
            </header>
          </div>
        </div>
        <img src="https://plus.unsplash.com/premium_photo-1677187301660-5e557d9c0724?q=80&w=1930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Leafs" class="w-full h-48 object-cover sm:h-screen sm:w-4/12">
      </div>

      <h1 class="text-xl pt-12 text-center font-semibold italic">Get ready to immerse yourself in a world of stories that will captivate, inspire, and entertain you.</h1>

      <div class="flex gap-4 my-12 justify-center flex-wrap">
        {% for book in books %}
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
          <a href="#"> </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ book.title }}</h5>
              <h5 class="mb-2 font-bold tracking-tight text-gray-900 dark:text-white">{{ book.authors }}</h5>
            </a>
            <img src="{{ book.cover_image.url }}" alt="{{ book.title }} Cover" class="w-full" />
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 overflow-hidden text-ellipsis line-clamp-2 mt-2">{{book.description}}</p>
            <p class="mb-4">${{book.price}} | {{book.format}}</p>
            <a
              href="{% url 'user_view_book' book.id %}"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-2"
            >
              Read more
              <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
              </svg>
            </a>
          </div>
        </div>
        {% empty %}
        <h4>No books available</h4>
        {% endfor %}
      </div>
    </div>
    <footer>
      <p>&copy; 2025 ns-book-django. All rights reserved.</p>
    </footer>
  </body>
</html>
